body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 13px;
}

div {
    display: block;
}

.viewer {
    margin: 0 auto;
    min-width: 980px;
}

div #viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
}

.main_nav {
    font-size: 13px;
}

.left_nav {
    top: 0;
    float: left;
    padding-top: 30px;
    align-items: center;
    position: relative;
}

.left_nav a {
    display: inline-block;
    color: #000;
    padding-left: 15px;
    opacity: 0.75;
    text-decoration: none;
}

.left_nav a:hover {
    opacity: 1;
    text-decoration: underline;
}

.right_nav {
    top: 0;
    float: right;
    text-align: right;
    padding-top: 17px;
    padding-right: 15px;
    align-items: center;
    display: inline-block;
}

.right_nav a {
    display: inline;
    color: #000;
    padding-right: 15px;
    opacity: 0.75;
    text-decoration: none;
    vertical-align: middle;
    position: top;
}

#nav_line {
    opacity: 0.75;
}

#nav_line:hover {
    text-decoration: underline !important;
    opacity: 1;
}

.app_icon {
    height: 30px;
    width: 30px;
}

.sign_in {
    padding: 8px 25px;
    cursor: pointer;
    background-color: #4387fd;
    color: #fff;
}

.right_nav button {
    font-weight: bold !important;
    font-size: 14px;
    border-radius: 2px;
}

.right_nav button:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

main {
    text-align: center;
}

.google_logo {
    padding: 150px 0 20px 0;
}

div .search {
    width: 500px;
    position: relative;
    line-height: 44px;
}

input {
    padding-left: 60px;
}

.searchbar {
    position: relative;
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 440px;
    padding-left; 30px;
    line-height: 44px;
    font-size: 14px;
}

div.search_buttons {
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.button_search {
    padding: 10px 30px;
    color: #333;
    background-color: #eaeaea;
    border: 1px solid rgba(222, 222, 222, 0.3);
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
}

.button_search:hover {
    cursor: pointer;
}

form.main_search {
    text-align: center;
    display: inline-block;
}

footer {
    bottom: 0;
    font-size: 13px;
    position: fixed;
    width: 100%;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}

.footer_top {
    padding-left: 15px;
}

.footer_bottom {
    border-top: 1px solid #e4e4e4;
}

#footer_nav_left {
    align-items: center;
    display: inline;
}

#footer_nav_left a {
    padding-left: 15px;
    color: #222;
    text-decoration: none;
}

#footer_nav_left a:hover {
    text-decoration: underline;
    color: #333;
}

#footer_nav_right {
    float: right;
    text-align: right;
    padding-right: 15px;
    align-items: center;
    display: block;
}

#footer_nav_right a {
    padding-right: 27px;
    color: #222222;
    text-decoration: none;
}

#footer_nav_right a:hover {
    color: ##333;
    text-decoration: underline;
}